body {
    background-color: beige;    
}

.intro_header {
    border-top: 1cm;
    
}
.header_txt {
    font-family:'Times New Roman', Times, serif;
    color: black;
    border-radius: 15%;
    padding: 10px;
    margin: 15px;
    float: right;
    text-align: right;

}

.image_container {
    border-radius: 100%;   
}
#profile_image {
    border-radius: 100%;    
}

.profile_qoute {
}
hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double rgb(100, 2, 2);
    color: rgb(100, 2, 2);
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: beige;

}
#text_banner1 {
    background-color: beige;
}

a {
    color: black;
}